<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- Иконка -->
    <link rel="icon" href="/static/img/logo.png">
    <title>Knigapoisk</title>
</head>
<body style="background-color: #f5f5dc">
<header>
    <nav class="navbar navbar-light" style="background-color: #ebe8b8">
        <!-- Эмблема -->
        <img src="/static/img/logo.png">
        <!-- Название со ссылкой -->
        <h1><a href="/" style="color: black; text-decoration: none;">Книгапоиск</a></h1>
        <a class="navbar-brand" href="https://yandexlyceum.ru/">Yandex Lyceum</a>
    </nav>
    <!-- Таблица 2х1 -->
    <table style="width: 100%">
        <!-- 70% на поговорку, 30% на поиск -->
        <tr>
            <td style="width: 70%">
                <h6>{{ saying }}</h6>
            </td>
            <td style="width: 30%">
                <form class="form-inline" action="" method="post">
                    {{ form.hidden_tag() }}
                    <!-- Поле ввода запроса. -->
                    <p>
                        {{ form.title(class="form-control mr-2 mt-3",
                        placeholder="Поиск книг", style="width: 400px") }}<br>
                        {% for error in form.title.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </p>
                    <!-- Кнопка поиска. -->
                    <p>{{ form.submit(type="submit", class="btn btn-outline-dark mr-2 mt-3") }}</p>
                    <!-- Кнопка фильтра. -->
                    <!-- Не входит в форму поиска, чтобы при нажатии
                    не срабатывала проверка на валидность -->
                    <p class="btn btn-outline-dark mt-3" role="button">&#9881</p>
                    {{message}}
                </form>
            </td>
        </tr>
    </table>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>