{% extends "base.html" %}

{% block content %}

    {% if book %}
        <div class="about_book">
            <h1>{{ title }}</h1>

            <div style="width: 50%; float: left">
                <img width="384" height="600" src="{{ img }}">
            </div>

            <div style="width: 50%; float: left">
            <!-- аргумент как часть пути -->
                <form style="margin-bottom: 15%;" action="/background_process_test/" method="POST">
                    <!-- скрытый параметр -->
                     {% if fav_check %}
                         <input type="hidden" name="google_book_id" value="{{ google_book_id }}">
                         <input type="hidden" name="delete_flag" value="1">
                         <span style="float: left; width: 100%">Удалить из избранного</span>
                        <button style="float: left; margin-bottom: 5%;margin-top: 5%; margin-left: 5%;" type="submit" class="like-button liked" ></button>

                    {% else %}
                         <input type="hidden" name="google_book_id" value="{{ google_book_id }}">
                         <input type="hidden" name="delete_flag" value="0">
                         <span style="float: left; width: 100%">Добавить в избранное</span>
                        <button style="float: left; margin-bottom: 5%;margin-top: 5%; margin-left: 5%;" type="submit" class="like-button"></button>
                    {% endif %}

                </form>
                <!--<button  style="margin-bottom: 50px" class="like-button"></button>-->
                {% for key in book %}
                    <h3>{{ key }}</h3>
                    <h5>{{ book[key] }}</h5>
                {% endfor %}
                {% if buylink %}
                    <h3><a href="{{ buylink }}">Купить книгу</a></h3>
                {% else %}
                    <h3>Нет ссылки на покупку книги</h3>
                {% endif %}

                {% if isreadable %}
                    <h3>
                        <a href="/view_book/{{ google_book_id }}">Ссылка на ознакомление (не полная версия)</a>
                    </h3>
                {% else %}
                    <h3>Нет ссылки на ознакомление</h3>
                {% endif %}
            </div>

        </div>
    {% else %}
    <h1>Книги с таким индификатором не существует</h1>
    {% endif %}
    <br>



{% endblock %}