{% extends "base.html" %}

{% block content %}


    <div class="profile" style="width: 100%">
        <h1>Профиль</h1>
            <div style="width: 50%;float: left">
                <img width="500" height="500" src="/static/img/profile_img/{{ current_user.id }}.png">
                <div>
                    <form class="login_form" method="post" enctype="multipart/form-data" name="loadimg">
                        <br>
                        <div class="form-group">
                            <label for="photo">Добавить картинку (500x500)</label><br>
                            <br>
                            <input type="file" class="form-control-file" id="photo" name="file" required>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-outline-primary">Загрузить</button>
                        <br>
                    </form>
                </div>


            </div>
            <div style="width: 50%; float: left" valign="top">
                {% for key in headers %}
                <h3>{{ headers[key] }}</h3>
                {% if not user[key] %}
                <h5>Не указано</h5>
                {% else %}
                <h5>{{ user[key] }}</h5>
                {% endif %}
                {% endfor %}
            </div>


    </div>
    <br>

    <a class="btn btn-outline-success" href="/profile/edit">Редактировать профиль</a>
    <a class="btn btn-outline-danger" href="/profile/delete"
       onclick="return confirm('Вы уверены, что хотите удалить профиль? Отменить это действие будет невозможно.');">Удалить профиль</a>


{% endblock %}